<ion-view title="Contact Us" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <div style="text-align:center;">
            <img src="img/jHc1RpguRqWsk65Rf8UX_CPR logo.png" width="70%" height="40%">
        </div>
        <ion-list>
            <ion-item class="item-divider">Contact Details</ion-item>
            <ion-item href="mailto:painresearch@nuigalway.ie">Email: painresearch@nuigalway.ie</ion-item>
            <ion-item href="tel:+35391494456">Phone: +353(0)91-494456</ion-item>
        </ion-list>
        <a style="display:inline;">
          
                <img "float: left;" src="img/uEKGL5p7SjKnRxvXUJh1_HRB Logo.png" width="45%" height="auto" href="#" onclick="window.open('http://www.hrb.ie', '_system', 'location=yes'); return false;">
        
                <img style="float:right; margin-top:10px;" src="img/wgMhHecpQI68ZdLVyHtH_NUI_Galway_BrandMark_A_500.jpg" width="45%" height="auto"  href="#" onclick="window.open('http://www.nuigalway.ie', '_system', 'location=yes'); return false;">
            
        </a>
    </ion-content>
</ion-view>