<ion-view title="Home" id="page1">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2 id="home-heading1" style="color:#000000;text-align:center;">Chronic Pain Risk Calculator</h2>
        <div style="text-align:center;">
            <img src="img/2zJjGEGfQqwMor1H0a9R_CPR Full Logo.png" width="100%" height="auto">
        </div>
        <div id="home-markdown2" style="color:#000000;text-align:center;">
            <p>Welcome to our Chronic Pain Risk Calculator.<br>To assess your patient's risk of long-term disability, complete the test using the 'Calculate' button below. 
		<br>If you would like to contact us, click on the 'Contact' button for our details.</p>
        </div>
        <form class="list"></form>
        <div class="button-bar">
            <a ui-sref="menu.diagnosisTest" id="home-button2" style="font-weight:bold;" class="button button-positive  icon ion-android-clipboard">Calculate</a>
            <a ui-sref="menu.contactUs" id="home-button3" style="font-weight:bold;" class="button button-positive  icon ion-android-mail">Contact</a>
        </div>
    </ion-content>
</ion-view>