<ion-view title="Results" id="page5">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <div id="results2-markdown7" style="color:#CE2424;">
            <p>You do not have chronic pain. It is more than likely acute pain that will pass over time.</p>

            <p>If your pain persists over a 3 month period however, it will become a chronic pain.</p>

            <p>Monitor your pain and return to your GP if it persists over 3 months.</p>

            <p>The following are websites that may be of help to you at this point:</p>
        </div>
        <ion-list></ion-list>
        <ion-list>
            <ion-item href="#" onclick="window.open('www.irishpainsociety.com', '_system', 'location=yes'); return false;">Irish Pain Society</ion-item>
            <ion-item href="#" onclick="window.open('www.migraine.ie', '_system', 'location=yes'); return false;">Migraine Association of Ireland</ion-item>
        </ion-list>
    </ion-content>
</ion-view>